@import "./imports.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================================================================================== */
@layer base {
    
    @font-face {
        font-family: 'Jost', sans-serif;
        src: url(/fonts/Jost-VariableFont_wght.ttf) format("ttf");
    }
    @font-face {
        font-family: 'Marcellus', serif;
        src: url(/fonts/Marcellus-Regular.ttf) format("ttf");
    }
}



